<hr class="hr-2 bg-blue">
<div class="post bg-white mb-2">
    <div class="avatar d-flex pt-3">
        <img class="d-inline-block ml-3 mr-2" src="/img/avatar__181424 (2).png" height="512"
             width="512"/>
        <p th:text="${#authentication.getPrincipal().getUsername()}"></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 pb-2">
        <hr class="bg-blue">
        <form th:method="post" th:object="${commentBindingModel}" th:action="@{/posts/} + ${id}">
            <div class="textwraper"
                 th:classappend="${#fields.hasErrors('commentContent')} ? 'has-error'">
                <div class="postreply">Post a Reply</div>
                <textarea name="commentContent" id="reply"
                          placeholder="Type your message here"></textarea>
                <div class="text-danger" th:each="error : ${#fields.errors('commentContent')}"
                     th:text="${error}">Error Message
                </div>
            </div>
            <div class="d-flex flex-row-reverse pt-2">
                <button type="submit" id="post-reply-btn" class="btn bg-blue btn-info">Post Reply
                </button>
            </div>
            <input type="hidden" name="postId" th:value="${viewModel.id}"/>
        </form>
    </div>
</div>