<div class="container-fluid m-0 p-0" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar bg-info navbar-expand-lg navbar-light">
        <a class="navbar-brand text-white" th:href="@{/}">Spring Answers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item text-white">
                    <a class="nav-link text-white" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item text-white">
                    <a class="nav-link text-white" th:href="@{/posts}" th:text="#{nav.posts}"></a>
                </li>
                <li class="nav-item text-white">
                    <a class="nav-link text-white" th:href="@{/categories}" th:text="#{categories}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/contact}" th:text="#{contact}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/about}" th:text="#{about}"></a>
                </li>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/logs/all}" th:text="|Logs|"></a>
                    </li>
                </div>
            </ul>
            <div>
                <select class="form-control" id="languageSelect">
                    <option value="" th:text="#{lang}"></option>
                    <option value="en" th:text="#{change.lang.en}"></option>
                    <option value="de" th:text="#{change.lang.de}"></option>
                    <option value="fr" th:text="#{change.lang.fr}"></option>
                </select>
            </div>
            <div sec:authorize="isAnonymous()">
                <th:block th:include="~{fragments/navbar/roles/guest}"/>
            </div>
            <div sec:authorize="hasAuthority('USER') and !hasAuthority('ADMIN')">
                <th:block th:include="~{fragments/navbar/roles/user}"/>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <th:block th:include="~{fragments/navbar/roles/admin}"/>
            </div>
        </div>
    </nav>
</div>