<div class="container authentication bg-white" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="text-center">Login</h1>
    <hr class="bg-info hr-2"/>
    <form class="mx-auto" th:method="post" th:action="@{/login}">
        <th:block th:if="${error != null}">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p th:text="${error}"></p>
            </div>
        </th:block>
        <div class="form-group">
            <label for="username" th:text="#{username}"></label>
            <input type="text" class="form-control" id="username" placeholder="Username..." name="username"
                   required>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{password}"></label>
            <input type="password" class="form-control" id="password" placeholder="Password..." name="password"
                   required>
        </div>
        <div class="button-holder d-flex justify-content-around">
            <button type="submit" class="btn btn-info bg-blue" th:text="#{nav.login}"></button>
        </div>
        <!--<div class="social-holder d-flex justify-content-around mt-3">-->
            <!--<form action="/signin/facebook" method="POST">-->
                <!--<input type="hidden" name="scope" value="public_profile" />-->
                <!--<button type="submit" class="btn btn-facebook">-->
                    <!--<i class="fa fa-facebook"></i>-->
                <!--</button>-->
            <!--</form>-->
        <!--</div>-->
    </form>
</div>