<div xmlns:th="http://www.w3.org/1999/xhtml" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <th:block th:each="post : ${posts}">
                <div class="post bg-white mb-3">
                    <div class="col-xs-12 col-sm-12 col-md-10">
                        <h2 class="post-title" th:text="${post.title}"></h2>
                        <p class="text-wrap" th:text="${post.content}"></p>
                    </div>
                    <div class="d-flex flex-row-reverse w-100 avatar pr-3">
                        <p th:text="|Answered By: Username12|"></p>
                        <img src="/img/avatar__181424 (2).png" height="512" width="512"/>
                    </div>
                </div>
            </th:block>
        </div>
        <th:block th:include="~{fragments/sidebar}"/>
    </div>
</div>