<div class="container view-content">
    <h1>Create New Post</h1>
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Post Title</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Post Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please be specific" rows="5"></textarea>
        </div>
    </form>
</div>