<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row view">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="post bg-white row">
                <div class="avatar col-sm-1 col-md-1">
                    <img src="/img/avatar__181424 (2).png" height="512" width="512"/></div>
                <div class="col-xs-11 col-sm-11 col-md-11 pt-4">
                    <h4 class="post-title" th:text="${post.title}"></h4>
                    <p class="text-wrap" th:text="${post.content}"></p>
                </div>
            </div>
            <hr>
            <th:block th:each="comment : ${comments}">
                <div class="bg-white post row">
                    <div class="avatar col-sm-1 col-md-1"><img src="/img/img_avatar2.png" height="512" width="512"/></div>
                    <div class="text-wrap col-xs-11 col-sm-11 col-md-10 pt-4">
                        <p class="post-title" th:text="${comment.content}"></p>
                    </div>
                </div>
            </th:block>
            <hr class="hr-2 bg-light-green">
            <div class="post bg-white row">
                <div class="avatar col-sm-1 col-md-1">
                    <img src="/img/reply-img.png" height="512" width="512"/></div>
                <div class="col-xs-11 col-sm-11 col-md-11">
                    <form th:method="post" th:action="@{/posts/} + ${id}">
                        <div class="textwraper">
                            <div class="postreply">Post a Reply</div>
                            <textarea name="content" id="reply" placeholder="Type your message here"></textarea>
                        </div>
                        <div class="float-right">
                            <button type="submit" id="post-reply-btn" class="btn bg-light-green btn-info">Post Reply</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <th:block th:include="~{fragments/sidebar}"/>
    </div>
</div>