<div xmlns:th="http://www.w3.org/1999/xhtml" class="container bg-white view w-75">
    <div>
        <div>
            <h1>About</h1>
        </div>
        <hr>
        <div class>
            <h2 class="card-title">Learn, Share, Build</h2>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et luctus mi. Phasellus nunc turpis,
                rutrum at turpis consequat, efficitur luctus nibh. In nisi mi, consequat nec elementum ac, fermentum
                vitae turpis. Aenean nec orci tincidunt, placerat turpis in, vulputate leo. Fusce urna quam, posuere eu
                pharetra iaculis, sollicitudin imperdiet massa. Fusce in lectus a lacus ultrices tempor. Mauris id
                tincidunt ipsum. Etiam sed felis vel ipsum vestibulum varius auctor et dolor.
            </p>
            <h2 class="card-title">Our Mission</h2>
            <p class="card-text">
                Fusce rutrum ligula nec volutpat vestibulum. In accumsan ullamcorper libero quis tempus. Aenean eget
                lacus a risus dictum gravida. Vivamus a iaculis metus. Integer risus elit, fermentum eu lacus ac, luctus
                efficitur ipsum. Proin pharetra orci nulla, id maximus augue scelerisque id. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Nulla consectetur dapibus rhoncus. Donec ultrices suscipit pulvinar.
                Nullam non purus ut purus pellentesque tempus ut eu orci. Etiam rutrum consectetur orci, non condimentum
                lectus elementum id. Nullam at euismod quam. Integer mattis ex sed tincidunt posuere. In blandit
                accumsan libero, at ullamcorper dui lobortis quis. Nam hendrerit massa nulla.
            </p>
            <div class="button-holder d-flex justify-content-around">
                <a href="#" class="btn bg-light-green p-2 btn-info">Our Website</a>
            </div>
        </div>
    </div>
</div>