<div class="container view bg-white create-content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Create New Category</h1>
    <form class="p-4" th:method="post" th:action="@{/categories/create}" th:object="${createCategoryDto}">
        <div class="form-group">
            <label for="exampleFormControlInput1">Category Title</label>
            <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Title" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1"
                      placeholder="Category description" rows="5" th:field="*{description}"></textarea>
        </div>
        <button type="submit" class="btn bg-light-green btn-info ">Create</button>
    </form>
</div>