<div xmlns:th="http://www.w3.org/1999/xhtml" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8" th:object="${viewModel}">
            <h4 th:text="|Posts in Category *{name}:|"></h4>
            <hr>
            <th:block th:each="post : *{posts}">
                <div class="bg-white mb-3 p-3 row">
                    <div class="d-flex align-items-center w-100">
                        <div class="col-lg-11">
                            <h4 class="mt-0" th:text="${post.title}"></h4>
                            <hr class="bg-light-green">
                            <p class="text-wrap" th:text="${post.content}"></p>
                        </div>
                        <div class="col-lg-1">
                            <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-floating pulse  pr-4">
                                <i class="fa fal fa-arrow-circle-right text-light-green"></i>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse w-100 avatar pr-3">
                        <a th:href="|/users/${post.user.username}|">
                            <p th:text="${post.user.username}" class="text-dark d-inline-block"></p>
                            <img src="/img/avatar__181424 (2).png" heght="512" width="512" class="d-inline-block"/>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
        <th:block th:include="~{fragments/sidebar}"/>
    </div>
</div>