<div class="header-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-info header-button" type="button">
                    Create A Question
                </button>
            </div>
            <div class="col-md-6">
                <div class="dropdown dropright header-button">
                    <button class="btn btn-info dropdown-toggle" type="button" id="about-us" data-toggle="dropdown">
                        Recent
                    </button>
                    <div class="dropdown-menu" aria-labelledby="about-us">
                        <a class="dropdown-item" href="#">Recent</a>
                        <a class="dropdown-item" href="#">Last</a>
                        <a class="dropdown-item" href="#">Views</a>
                        <a class="dropdown-item" href="#">Replies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>