<div class="header-nav p-5" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid d-flex justify-content-around">
        <form class="form-inline my-2 p-3" method="get" action="/posts">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search for post" aria-label="Search">
            <button class=" btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="nav-link p-3 text-white" th:href="@{/posts/create}">
            <button class="btn btn-info header-button" type="button" th:text="#{header.create.post}">
            </button>
        </a>
    </div>
</div>