<div class="container mt-5">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">
                <h1>Page Not Found</h1>
                <p th:text="${viewModel}"></p>
                <br/>
                <p>There was an error with your request, please, try again. Use your
                    browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
                <p><b>Or you could just press this neat little button:</b></p>
                <a th:href="@{/}" class="btn btn-large btn-info bg-blue"><i class="icon-home icon-white"></i> Take Me Home</a>
            </div>
            <br/>
        </div>
    </div>
</div>