body {
    background-color: #E4E2DD!important;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.hr-2 {
    height: 2px;
}

.w-40 {
    width: 40%;
}

.container {
    min-height: 400px;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-top: 20px;
}

.header-nav {
    background-color: #FFFFFF;
    min-height: 60px;
    border-bottom: 1px solid #b9bbbe;
}

.post {
    min-height: 150px;
}

.avatar img {
    height: 30px;
    width: 30px;
}

.sidebarblock {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.sidebarblock h3 {
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    margin: 0;
    padding: 20px;
}

.sidebarblock .divline {
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #f1f1f1;
}

.sidebarblock .blocktxt {
    padding:20px;
}

ul.cats li a {
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 30px;
}

ul.cats .badge {
    background-color: #bdc3c7;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Open Sans Bold', sans-serif;
    margin-top: 7px;
}

.textwraper textarea {
    border: none;
    box-shadow: none;
    background-color: #f1f1f1;
    width: 100%;
}

.textwraper {
    background-color: #f1f1f1;
    border-radius: 2px;
    padding:18px;
    margin: 20px 5px 0px 0;
}

textarea.form-control {
    height: 100%;
}

.page-not-found {
    display: block;
    margin: auto;
    width: 800px;
    border-radius: 40px;
}

.bg-green {
    background-color: #009688;
}

.bg-light-green {
    background-color: #1abc9c!important;
}

.text-light-green {
    color: #1abc9c!important;
}

.bg-dark-green {
    background-color: #00786D;;
}

.fa {
    font-size: 30px;
}

a {
    text-decoration: none !important;
}