body {
    background-color: #E4E2DD;
    margin: 0; height: 100%; overflow-x: hidden
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #009688;
    border-color: #E7E7E7;
}

.view-content {
    min-height: 400px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 15px;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link, #login-nav, #register-nav {
    color: #FFFFFF;
}
footer {
    width: 100%;
    background-color: #009688;
}

.footer-copyright {
    background-color: #00786D;
}

.header-nav {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    min-height: 70px;
    border-bottom: 1px solid #b9bbbe;
}

.header-button {
    margin-top: 10px;
}

.header-img {
    height: 285px;
    width: 100%;
}

.footer-copyright {
    color: #FFFFFF;
}

.footer-copyright a {
    text-decoration: none;
    color: #FFFFFF;
}

form {
    padding: 10px;
}

.post {
    min-height: 150px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.post-title {
    color: #363838;
}

.post-content {
    word-wrap: break-word;
    color: #989c9e;
}

.avatar img {
    height: 30px;
    width: 30px;
    margin-top: 20px;
}