<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <div sec:authorize="hasAuthority('ADMIN')">
        <th:block th:include="~{fragments/navbar/admin}"/>
    </div>
    <div sec:authorize="hasAuthority('USER') and !hasAuthority('ADMIN')">
        <th:block th:include="~{fragments/navbar/user}"/>
    </div>
    <div sec:authorize="isAnonymous()">
        <th:block th:include="~{fragments/navbar/guest}"/>
    </div>
</header>
<main>
    <th:block th:include="~{fragments/header-main}"/>
    <th:block th:include="~{${viewName}}"/>
</main>
</body>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</html>