<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<title th:text="${title}"></title>-->
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
</head>
<body>
<header>
    <!--<th:block th:if="${session.username == null}">-->
    <th:block th:include="~{fragments/navbar-guest}"/>
    <!--</th:block>-->
    <!--<th:block th:unless="${session.username == null}">-->
        <!--<th:block th:include="~{fragments/navbar-user}"/>-->
    <!--</th:block>-->

    <img src="/img/forest.png" height="245" width="100%"/>
</header>
<main class="mt-5">
    <th:block th:include="~{${viewName}}"/>
</main>
</body>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</html>