<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar/base}"/>
</header>
<main>
    <th:block th:include="~{fragments/header-main}"/>
    <th:block th:include="~{${viewName}}"/>
</main>
</body>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</html>